* {
    color: white;
}

input {
    color: black;
}
textarea{
    color: Black;
}

label {
    display: block;
    width: max-content;
}

#maincontent{
    padding: 15px;
}

select{
    color: Black;
}

option{
    color: Black;
}