@{
    
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="../css/styleCommon.css">
        <title>Confirmation</title>
    </head>
    <body>
       <h1>Purchase Details</h1> 
        <table>
            <tr><td>Item:</td><td>Movie Ticket Lion King</td></tr>
            <tr><td>Amount:</td><td>1</td></tr> 
            <tr><td>Total Payment:</td><td>HKD 280</td></tr>  
        </table>
       <h2>Congratlations! Deal made!</h2>
       <input type="button" value="Print My Ticket"/>
       <input type="button" value="Download e-Ticket"/>
       <input type="button" value="Notify my companion by email"/>
    </body>
</html>
